<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <!-- <span id="logo"> <img src="assets/img/coreAPP-logo.svg" alt="SmartAdmin"> </span> -->
    <a id="logo" class="txt-color-red">CoreAPP</a>
  </div>

  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Doni të regjistroheni?</span> <a routerLink="/" class="btn btn-danger">Regjistrohu këtu</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">CoreAPP Administration</h1>

        <div class="hero">
          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">Në ndërtim e sipër.
              Ka akoma shumë punë për te bërë! CoreAPP!</h4>

            <div class="login-app-icons">
              <a routerLink="/" class="btn btn-success btn-sm">Kontakt</a>
              <a routerLink="/" class="btn btn-danger btn-sm">Rreth nesh</a>
            </div>
          </div>
          <img src="assets/img/note8L.png" class="pull-right display-image" alt="" style="width:150px">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Rreth CoreAPP - A jeni i informuar?</h5>

            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa.
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Jo thjesht Aplikimi i radhës!</h5>

            <p>
              Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
              nobis est eligendi voluptatem accusantium!
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form class="smart-form client-form" [formGroup]="valForm" role="form" name="loginForm" novalidate="" (submit)="submitForm($event, valForm.value)">
            <header>
              Login
            </header>
            <fieldset>
              <section>
                <label for="username" class="label">Përdoruesi</label>
                <label class="input" [ngClass]="{'state-error': loginerror}"> <i class="icon-append fa fa-user"></i>
                  <input type="text" id="username" formControlName="username">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                    Shkruani përdoruesin</b></label>
              </section>
              <section>
                <label for="password" class="label">Fjalëkalimi</label>
                <label class="input" [ngClass]="{'state-error': loginerror}"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" id="password" formControlName="password">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Shkruani Fjalëkalimin</b> </label>

                <div class="note">
                  <a routerLink="/">Keni harruar të dhënat?</a>
                </div>
              </section>
              <section>
                <label class="checkbox">
                  <input type="checkbox" name="remember" checked>
                  <i></i>Ruaj Sesionin</label>
              </section>
            </fieldset>
            <footer>
              <span *ngIf="loginerror" class="txt-color-red"><i class="fa fa-warning text-danger"></i> {{loginerror}}</span> 
              <!-- <span *ngIf="njoftim" class="txt-color-red">Test njoftim</span> -->
              <button type="submit" class="btn btn-primary">
                Jepi
              </button>
            </footer>
          </form>
        </div>
        <h5 class="text-center"> - Ose përdor rrjetet sociale -</h5>
        <ul class="list-inline text-center">
          <li>
            <a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
