/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
 /* #logo-group1 {
     padding: 0;
     margin: 0;
 }
 #logo1 {
    padding: 20px;
    margin: 20px;
 } */

 #logo{margin-top:0;margin-left:0}